{{ header }}


		<header class="img-cover standard img" style="background-image: url('catalog/view/theme/shoptheme/img/header2.webp');">
			<div class="filter">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1>Konto Eröffnung</h1>
						</div>
					</div>
			</div>
		</header>

		<section class="section-form section-8 last">
			<form>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
								<div class="col-md-12">
									<h2>Persönliche Angaben</h2>
								</div>
								<div class="col-md-4">
									<input class="register" type="text" placeholder="Vorname">
								</div>
								<div class="col-md-4">
									<input class="register" type="text" placeholder="Nachname">
								</div>
								<div class="col-md-4">
									<input class="register" type="text" placeholder="Email">
								</div>
								<div class="col-md-12">
									<h2>Adresse</h2>
								</div>
								<div class="col-md-4">
									<input class="register" type="text" placeholder="Firma">
								</div>
								<div class="col-md-4">
									<input class="register" type="text" placeholder="Straße">
								</div>
								<div class="col-md-4">
									<input class="register" type="text" placeholder="Zusatz">
								</div>
								<div class="col-md-4">
									<input class="register" type="text" placeholder="Ort">
								</div>
								<div class="col-md-2">
									<input class="register" type="text" placeholder="PLZ">
								</div>
								<div class="col-md-3">
									<input class="register" type="text" placeholder="Land">
								</div>
								<div class="col-md-3">
									<input class="register" type="text" placeholder="Bundesland">
								</div>
								<div class="col-md-12">
									<h2>Passwort</h2>
								</div>
								<div class="col-md-4">
									<input class="register" type="password" placeholder="Passwort">
								</div>
								<div class="col-md-4">
									<input class="register" type="password" placeholder="Passwort bestätigen">
								</div>
								<div class="col-md-12">
									<h2>Newsletter</h2>
									<input type="checkbox" name="checkbox" id="newsletter">
										<label for="newsletter" class="item">
											<p class="title-1">Ich möchte mich für den Newsletter anmelden.</p>
											<div class="circle"></div>
										</label>
								</div>
								<div class="col-md-12">
									<h2>Datenschutzerklärung</h2>
									<input type="checkbox" name="checkbox" id="datenschutz">
										<label for="datenschutz" class="item">
											<p class="title-1">Ich habe die Informationen zu Datenschutzerklärung gelesen und akzeptiert</p>
											<div class="circle"></div>
										</label>
								</div>
								<div class="col-md-12">
										<input class="button small" value="registrieren" type="submit">
								</div>
						</div>
					</div>
				</div>
			</div>
			</form>
		</section>



	
{{ footer }} 
